<img src="../../../assets/images/ezgif.com-gif-maker.gif" *ngIf="pleaseWaitFlg"
  style="position: absolute; top: -40px; left: 65%">

  <div class="container height-5">
  &nbsp;
</div>

<div class="container-fluid">
  <div class="row">
    <div class="offset-1 col-4 three-d-effect" style="border: 1px solid;">
      <div class="offset-3 col-5 header-decoration" style="margin-bottom: 8px; text-align: center;">
        Add new Employee
      </div>
      <form ngNativeValidate #addEmployeeForm="ngForm" (ngSubmit)='fnAddEmployee(addEmployeeForm.value)'>
        <div class="row" style="margin-bottom: 3px;">
          <div class="col-3" style="margin-top: 15px; text-align: right; padding-right: 0px;">
            <label>First Name:</label>
          </div>
          <div class="col-6" style="margin-bottom: 3px;">
            <input type="text" class="form-control" name="firstName" ngModel required>
          </div>
        </div>
        <div class="row" style="margin-bottom: 3px;">
          <div class="col-3" style="margin-top: 15px; text-align: right; padding-right: 0px;">
            <label>Last Name:</label>
          </div>
          <div class="col-6" style="margin-bottom: 3px;">
            <input type="text" class="form-control" name="lastName" ngModel required>
          </div>
        </div>
        <div class="row" style="margin-bottom: 3px;">
          <div class="col-3" style="margin-top: 15px; text-align: right; padding-right: 0px;">
            <label>Gender:</label>
          </div>
          <div class="col-6" style="margin-bottom: 3px;">
            <select class="form-control" name="gender" ngModel required>
              <option *ngFor="let genderSelected of ['Male', 'Female']" [value]="genderSelected">
                {{genderSelected}}
              </option>
            </select>
          </div>
        </div>
        <div class="row" style="margin-bottom: 3px;">
          <div class="col-3" style="margin-top: 15px; text-align: right; padding-right: 0px;">
            <label>D.O.B:</label>
          </div>
          <div class="col-6" style="margin-bottom: 3px;">
            <input type="date" class="form-control" name="dob" ngModel required>
          </div>
        </div>
        <div class="row" style="margin-bottom: 3px;">
          <div class="col-3" style="margin-top: 15px; text-align: right; padding-right: 0px;">
            <label>Department:</label>
          </div>
          <div class="col-6" style="margin-bottom: 3px;">
            <select class="form-control" name="dept" ngModel required>
              <option *ngFor="let deptSelected of ['MSO', 'HR', 'Admin', 'Security']" [value]="deptSelected">
                {{deptSelected}}
              </option>
            </select>
          </div>
        </div>
        <div class="row text-center" style="margin-bottom: 3px;">
          <div class="col-3">
            &nbsp;
          </div>
          <div class="col-6">
            <button type="submit" class="submit-btn btn btn-dark" style="cursor: pointer;">
              Add Employee
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="offset-1 col-5 three-d-effect" style="border: 1px solid;">
      <div class="row" style="margin-bottom: 4px;">
        <div class="offset-4 col-3 header-decoration" style="margin-bottom: 4px; text-align: center;">
          Employee List
        </div>
      </div>
      <div class="row" *ngIf="employeeLst.length == 0">
        <span style="color: red; font-size: 20px; line-height: 2;">Employee list is empty...</span>
      </div>
      <div class="row"  style="margin: 0px 4px;" *ngIf="employeeLst.length > 0">
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr style="text-decoration: underline; cursor: pointer; font-style: italic;">
              <th (click)='fnSortEmployeeLst("firstName")'>First Name</th>
              <th (click)='fnSortEmployeeLst("lastName")'>Last Name</th>
              <th (click)='fnSortEmployeeLst("gender")'>Gender</th>
              <th (click)='fnSortEmployeeLst("dob")'>D.O.B</th>
              <th (click)='fnSortEmployeeLst("dept")'>Department</th>
            </tr>
          </thead>
          <tr *ngFor="let row of employeeLst; index as i" style="margin-bottom: 10px">
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.gender}}</td>
            <td>{{row.dob}}</td>
            <td>{{row.dept}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>