/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Gudea');

body {
  font-family: 'Roboto Condensed Regular', sans-serif !important;
  font-weight: 300 !important;
  font-size: 13px;
  overflow-x: hidden;
  color: black;
  line-height: 1 !important;
  margin: 10px;
}

/* Scroll bar Effect - Start */
::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
	height : 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px 10px 10px 10px;
  background: #dddddd;
	background-color: #694714;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}
/* Scroll bar Effect - End */

table > thead > tr > th {
  background-color: #d9edf7;
  font-weight: bold;
  text-align: center!important;
  white-space: nowrap!important;
}

.table-bordered thead th {
  border: 1px solid;
  padding: 5px 10px !important;
}

.table-bordered td {
  border: 1px solid;
  padding: 2px 10px !important;
}

.three-d-effect {
  box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
}

.trangle-left {
  position: absolute;
  background: #85640400;
  top: 48px;
  left: -36px;
  width: 20px;
  height: 20px;
  border-right: 20px solid #dddddd;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  font-size: 0;
  line-height: 0;
}

.shadow {
  border-radius: 50%;
  animation : shadow 1.5s 1;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0 10px 5px #ffc107;
  };
  100% {
    box-shadow: 0px 0 45px 10px #ffc107;
  };
}

/*Override Btn*/
.btn-override {
  color: #fff;
  background-color: rgba(60, 94, 130, 0.87) !important;
  border-color: rgba(60, 94, 130, 0.87) !important;
}

.fa-star {
  font-size: 30px;
}
.star_checked {
  color: orange;
}

/*----------------Custom Table --------------*/
.custom_table thead > tr > th {
  /* background-color: rgba(60, 94, 130, 0.87) !important; */
  color: #000;
  padding: 5px 5px !important;
  border: 1px solid black !important;
}
.custom_table tbody > tr > td {
    background-color: #fff !important;
    border: 1px solid black !important;   
    color: #000;
    padding: 0px 8px!important;
    vertical-align: middle;
    text-align: center;
}

/*-----------------Custom Modal Styles---------*/
.custom_modal {
    width: 600px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 23px 5px;
    font-style: normal;
    font-weight: 400;
    text-align: start;
    line-height: 1.3;
    z-index: 1062;
    border-radius: 5px;
    border: none;
    color: white;
    position: absolute;
    animation  :  slowDisplay .4s;
    display: block;
}
@keyframes slowDisplay {
  0% {
    transform: scale(0.5)
  };
  90% {
    transform: scale(1)
  };
}

.custom_modal_content{
  color: rgba(0,0,0,0.8);
}
.label_right {
    padding-right: 6px;
    top: 4px;
}
.textarea_style {
    direction: ltr;
    width: 100%; 
    word-wrap: break-word;
    resize: none;
    cursor: not-allowed;
    background-color: rgb(230, 232, 234);
    opacity: 1;
    border-radius: 5px;
    padding: 1px !important;
    font-size: 14px;
    color: #000000a8;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #e6e8ea;
    opacity: 1;
}

.form-control[readonly] {
    cursor: not-allowed;
    background-color: #d7f0ea7d;
    opacity: 1;
    color: #000;
}
.pos_center {
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

.activeDetailClass {
  box-shadow: inset 0 0 19px 12px #8EC56C;
}
.vresize{
  resize: vertical;
}
.labelRight {
  text-align: right;
  padding-right: 5px !important;
}
.labelLeft {
  text-align: left;
  padding-left: 5px !important;
}
.div_margin_top {
  margin-top: 5px;
}

input[type="text"],textarea {
  text-align: left !important;
  vertical-align: middle !important;

    /*background: none !important;
    font-weight: bold;
    border: none;*/
}



.vAlign {
    display: inline-flex;
    align-items: center;
}
.row-header {
  position: relative;
  /*top: 10px;*/
  /*left: 5px;*/
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  background: rgb(243, 250, 182);
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
}
.row-body {
    text-align: left;
    height: auto;
    margin: 15px auto;
    /*background: rgba(243, 250, 182, 0.34);*/
    border-radius: 20px 20px 50px 50px;
    margin-top: 12px;
}

/* Common Style*/
.text-right {
  text-align: right;
  display: block;
}
.text-left {
  text-align: left;
  display: block;
}

body {
  scroll-behavior: smooth;
}

.cust_link {
    text-decoration: underline;
    color: blue !important;
    font-weight: 600;
    cursor: pointer;
    font-style: italic;
}



.input_style {
    background: rgb(215, 240, 234);
    border-radius: 5px;
    border-width: 1px !important;
}

.center-div
{
     /*position: relative;
     top: 50%;
     transform: perspective(1px) translateY(-50%);*/

     line-height: 4;
}
.center-pos {
  position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}





router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*Call And Concession Screen*/

.row-brdr {
  border: 1px solid;
    line-height: 1.5;
}

.row-brdr label {
  margin: 0px;
    border-right: 1px solid;
    background: rgba(60, 94, 130, 0.87);
    color: white;
}

/*Padding*/

.padding0 {
    padding: 0px;
}
.margin0 {
    margin:0px;
}

.paddingRight0 {
    padding-right: 0px;
}
.paddingLeft0 {
    padding-left: 0px;
}


.table td, .table th {
  border-top: none;
} 

.boldWt {
  font-weight: bold;
  color: darkmagenta;
}


.top_nv {
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
    background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
    padding: 5px 15px 5px 15px;
    color: white;

    /*box-shadow: 0 6px 20px 0 rgb(81, 72, 86);
    background: linear-gradient(45deg, #1f928e 0%, #853c63 100%);
    padding: 5px 15px 5px 15px;
    color: white;*/


    box-shadow: 0 2px 20px 1px #464a4e;
    /*background: linear-gradient(45deg, #212529fa 0%, #343a40d9 100%);*/

    background: linear-gradient(45deg, #212529fa 0%, tomato 100%);
}



/*Call History , Purchase History, Concession */
  /*Row Header*/
.panel-header {
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
    transition: all .5s cubic-bezier(.4,0,.2,1);
    line-height: 1.5;
    background : linear-gradient(45deg, #0288d1 0%, #26c6da 100%);
    color      : white
}


.active-header {
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%) !important;
}

.active-header-rm{
    
}
.ChevronColor {
  border-radius: 3px;
  color: black;
  background: linear-gradient(45deg, #ffca28 47%,transparent 47%, transparent 6%);
}
.view-panel-body {
    text-align: center;
    transition: all 500ms cubic-bezier(.4,0,.2,1);
    border-radius: 3px;
    margin-top: 5px;
    box-shadow: rgba(255, 111, 0, 0.3) 0px 2px 14px 0px;
    background: linear-gradient(to right, rgba(242, 153, 74, 0.51) 0%, rgba(242, 201, 76, 0.61) 100%);
}

.cust-img {
  width: inherit;
  height: inherit;
  box-shadow: 0px 12px 8px -8px #111, 0px 0px 5px 0px #111;
}